* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 25px;
}

.container {
  width: 1700px;
  border: 5px solid black;
  margin: 50px auto;
  position: relative;
}

.top-bar {
  background-color: #eee;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.aligning {
  margin: 15px 0;
  font-size: 35px;
  text-transform: uppercase;
}

.navbar {
  margin: 20px 0;
  font-size: 22px;
}

.nav-links,
.nav-links:visited {
  text-decoration: none;
  color: #f80;
  font-weight: bold;
}

.nav-links:hover,
.nav-links.active {
  text-decoration: underline;
  color: black;
}

.more-info,
.more-info:visited {
  text-decoration: underline;
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
  font-weight: bold;
}

.add-cart {
  color: #eee;
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 5px solid black;
}

.add-cart:hover {
  background-color: #eee;
  color: black;
}

.details-list {
  list-style: square;
  margin-left: 40px;
  margin-bottom: 10px;
}

.details-title {
  font-size: 35px;
  margin-bottom: 40px;
  /* margin-top: 20px; */
  margin-left: 5px;
}

.image {
  border: 5px solid #c08eb5;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  height: 465px;
  width: 500px;
}

.upper-case {
  text-transform: uppercase;
}

.price {
  font-size: 40px;
  /* margin-left: 5px; */
  letter-spacing: 2px;
}

.shipping-details {
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 20px; */
  /* margin-left: 5px; */
}

.nav-links {
  text-transform: uppercase;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

p,
a {
  margin-left: 5px;
}

.container::after {
  content: "SALE";
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;

  position: absolute;
  top: -18px;
  left: -36px;
}

.product-colors {
  margin-top: 75px;
}

.color-black {
  display: inline-block;
  background-color: black;
  padding: 20px;
  /* margin-left: 15px; */
}

.color-blue {
  display: inline-block;
  background-color: #002fff;
  padding: 20px;
  margin-left: 10px;
}

.color-red {
  display: inline-block;
  background-color: red;
  padding: 20px;
  margin-left: 10px;
}

.color-yellow {
  display: inline-block;
  background-color: #ffc400;
  padding: 20px;
  margin-left: 10px;
}

.color-green {
  display: inline-block;
  background-color: #6eb121;
  padding: 20px;
  margin-left: 10px;
}

.color-brown {
  display: inline-block;
  background-color: brown;
  padding: 20px;
  margin-left: 10px;
}

/* FLOATS */

.image {
  float: left;
}

.middle-col {
  float: left;
  width: 600px;
  margin-left: 50px;
  margin-right: 50px;
}

.shipping-details {
  float: left;
  margin-left: 75px;
  margin-top: 20px;
  /* margin-bottom: 25px; */
}

.product-name {
  float: left;
  margin-left: 180px;
  margin-bottom: 40px;
}

.final-col {
  float: right;
  width: 450px;
}

.price {
  float: left;
  margin-bottom: 25px;
}

.float-price-ship {
  display: block;
}

.brief {
  clear: both;
}

.more-info {
  float: left;
}
