* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  background-color: #f8f8f8;
  border-top: 10px solid #0cf;
}

.main-header {
  background-color: #e7e7e7;
  padding: 20px 40px;
  margin-bottom: 50px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.article-header {
  margin-bottom: 40px;
}
h1,
h2,
h3 {
  color: #0cf;
}

h1 {
  font-size: 30px;
  font-style: italic;
  /* color: rgb(244, 179, 63); */
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 15px;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 50px;
}

li:first-child {
  /* li:nth-child(number) */
  font-weight: bold;
}

article p:last-child {
  font-style: italic;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

#copyright {
  font-size: 16px;
}

.extras {
  background-color: #e7e7e7;
  border-top: 5px solid #0cf;
  border-bottom: 5px solid #0cf;
  padding: 50px 0;
  margin-top: 50px;
  width: 500px;
}

/* Styling hyperlinks */
a:link {
  color: #0cf;
  text-decoration: none;
}

a:visited {
  color: #0cf;
}

a:hover {
  color: #fb0;
  font-weight: bold;
  text-decoration: underline #fb0;
}

.post-image {
  width: 100%;
}

.author-image {
  width: 3%;
}
