* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  background-color: #f8f8f8;
  border-top: 10px solid #0cf;
  position: relative;
}

.main-header {
  background-color: #e7e7e7;
  padding: 20px 40px;
  margin-bottom: 50px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.article-header {
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  color: #0cf;
}

h1 {
  font-size: 30px;
  font-style: italic;
  /* color: rgb(244, 179, 63); */
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 50px;
  /* display: inline; */
}

/* li:first-child {
  /* li:nth-child(number) 
  font-weight: bold;
} */

article p:last-child {
  font-style: italic;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.related-list {
  list-style: none;
}

#copyright {
  font-size: 16px;
  display: block;
  margin-top: 5px;
}

.extras {
  background-color: #e7e7e7;
  border-top: 5px solid #0cf;
  border-bottom: 5px solid #0cf;
  padding: 50px 0;
  margin-top: 50px;
  width: 500px;
}

/* Styling hyperlinks */
a:link {
  color: #0cf;
  text-decoration: none;
}

a:visited {
  color: #0cf;
}

a:hover {
  color: #fb0;
  font-weight: bold;
  text-decoration: underline #fb0;
}

.post-image {
  width: 100%;
}

.author-image {
  width: 6%;
}

.navbar {
  margin-left: 35px;
  /* text-align: center; */
}

.navbar > a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}

.navbar > a:link:last-child {
  margin-right: 0;
}

.like-button {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  color: #444;
  background-color: #0cf;
  border: 1px solid;
  box-shadow: 5px 10px #444;

  position: absolute;
  bottom: 40px;
  right: 60px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::after {
  content: "TOP";
  font-size: 15px;
  background-color: #fffb00;
  padding: 5px 10px;
  color: #000;

  position: absolute;
  top: 0;
  right: 0;
}
